body {
    margin-top: 300px;
    display: grid;
    justify-content: center;
    background-color: mediumturquoise;
  }
  form {
    display: grid;
    justify-content: center;
  }
  #feeback {
    width: 500px;
    height: 30px;
    border: 2px solid black;
    background-color: fuchsia;
  }